<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>215643220761-s561mgdnignsc8pcjot9mbpni8c7ua4u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.215643220761-s561mgdnignsc8pcjot9mbpni8c7ua4u</string>
	<key>API_KEY</key>
	<string>AIzaSyCz1Bt8mGq0otIElJu8FJIfNIx6Cz52B94</string>
	<key>GCM_SENDER_ID</key>
	<string>215643220761</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.felippematos.NacaoEspirita</string>
	<key>PROJECT_ID</key>
	<string>nacaoespirita-6c852</string>
	<key>STORAGE_BUCKET</key>
	<string>nacaoespirita-6c852.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:215643220761:ios:081e51e6acf45e0399f388</string>
	<key>DATABASE_URL</key>
	<string>https://nacaoespirita-6c852.firebaseio.com</string>
</dict>
</plist>